{% extends 'school/base.html' %}


{% block content %}

<div class="container p-3 my-3 bg-dark text-white">
  <center>
    <h5>My first home page</h5>
  </center>
</div>
<div class="container">
  <h1>Welcome to my moon</h1>
  <p>สวัสดีจ้าเขียนใหม่สนุกมั้ย</p>
  <center>
  	<img src="https://img.freepik.com/free-photo/moon_181624-19708.jpg?size=626&ext=jpg" width="400">
  	<div class="container">
  		<script type="text/javascript">
  			var First_name ="Pongsphak"
  			var Last_name ="Maneewong"
  			console.log(First_name)
  			console.log(Last_name)
  			// document.write(First_name)
  		</script>
  		<style type="text/css">
  			body {
  				background-color: #ffd1cf
  			}
  		</style>
  		<p1>Myprofile</p1>
  		<script type="text/javascript">
  			document.write(First_name)
  		</script>
  </center>
</div>

{% endblock content %}